// Alerts
// ___________________________________________________

.alert {
	padding: 20px !important;
	line-height: initial !important;
	color: white;
	border-radius: 3px;
	margin: 15px 0;
	border: 1px solid;
}

.alert.alert-info {
	background: #3ea2ff;
	border-color: #2a99ff;
}

.alert.alert-success {
	background: #00cc00;
	border-color: #00b300;
}

.alert.alert-danger {
	background: #e60000;
	border-color: #cc0000;
}


.alert.alert-warning {
	background: #cccc00;
	border-color: #b3b300;
}
