// container

.c {
	max-width: 340px;
	margin: 40px auto;
	padding: 15px;
	background: #fff;
	box-shadow: 1px 2px 3px #aaa;
}

.wrapper {
	height: 100%;
}

.main {
	padding: 15px;
	margin-left: 200px;
}
