// form

.form {
	box-sizing: border-box;
	padding: 15px;
	font-size: 1.6rem;
}
.form-group {
	margin: 5px;
	overflow: hidden;
	box-sizing: border-box;
}
.input {
	color: #444;
	margin: 5px;
	padding: 5px;
	border: 0;
	border: 2px solid white;
	border-bottom-color: silver;
	transition: border-color 0.3s;
	font-size: 1.6rem;
}
.input:hover {
	border-color: silver;
}
.input:focus {
	border-color: silver;
}
.submit {
	@extend .input;
	border: 2px solid silver;
	background: silver;
	color: white;
	cursor: pointer;
}

.textarea {
	margin: 5px;
	width: 100%;
	min-height: 400px;
	color: #333;
	font-size: 1.6rem;
	padding: 5px;
	box-sizing: border-box;
}

.form-label {
	font-size: 1.6rem;
	min-width: 100px;
	text-align: right;
	margin: 5px;
	display: inline-block;
}
