// header

.header {
	background: #454749;
	color: #fff;
	margin: 0;
	padding: 0;
	height: 50px;
}

.header span {
	padding: 0;
	margin: 0;
	border: none;
	font-size: 2.8rem;
	line-height: 5rem;
	width: 200px;
	box-sizing: border-box;
	text-align: center;
	display: block;
	float: left;
	
	&:hover {
		background: #3E4042;
	}


	a {
		color: white;
	text-decoration: none;
	}
}
