// Menu
// ___________________________________________________

@mixin triangle {
	position: absolute;
	content: "";
	right: 0;
	top: 0;

	// triangle
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 24.5px 10px 24.5px 0;
	border-color: transparent #f1f1f1 transparent transparent;
}

.fa { // font awesome ico
	width: 20px;
}

.top-menu-container {
	padding: 0;
	margin: 0;
	height: 50px;
}

.top-menu {
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;

	li {
		a {
			padding: 0 10px;
			text-decoration: none;
			display: block;
			line-height: 5rem;

			&:hover {
				background: #090909;
				color: #eee;
			}
		}


		ul {
			display: none;
			list-style: none;
			padding: 0;
			background: #f9f9f9;
			border: 1px solid #090909;
			border-top: 0;
		}
		&:hover {
			background: #090909;
			ul {
				display: block;
			}
		}
	}
}


///////////////////////////////////////////////////////////////////////////////

// aside
.menu-sidebar {
	float: left;
	width: 200px;
	min-height: calc(100% - 50px);
	background: #2c2e2f;
	font-size: 1.4rem;
	text-transform: uppercase;
}

// nav
.main-menu {
	> ul {
		padding-bottom: 10px;

		ul {
			li a {
				padding-left: 35px;
			}

			// hide
			display: none;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

// items
.main-menu li {
	position: relative; // positioning ul on hover
	
	background: #2c2e2f;

	a {
		display: block;
		padding: 15px 20px;
		text-decoration: none;

		&:hover {
			background: #090909;
			color: #eee;
			
			&:after {
				@include triangle;
			}
		}
	}

	li a {
		background: #f9f9f9;
		
		&:after { // hide triangle
			display: none;
		}
	}

	&:not(.active) li:first-of-type a {
		box-sizing: border-box;
		height: calc(48px - 1px);

	}
	&:not(.active) li:only-of-type a {
		height: calc(48px - 2px);
	}

	&:not(.active):hover { // must be :not()
		background: #090909;
		ul {
			background: #f9f9f9;
			border: 1px solid #090909;
			border-left: 0;
			display: block;
			list-style: none;
			margin: 0;
			margin-left: 200px;
			padding: 0;
			position: absolute;
			top: 0;
			width: 200px;
		}
	}

	&.divider {
		height: 10px;

		&:not(.active):hover {
			background: inherit;
		}
	}
}


// items .active
.main-menu > ul > li.active {
	
	&:after {
		@include triangle;
	}
	
	> a {
		background: #090909;
	}

	ul {
		display: block;

		li {
			&.active a {
				background: #090909;
			}
			a:after, &.active a:after {
				display: none;
			}
		}
	}
}
