// pagination

.pagination-container {
	width: 100%;
	margin: 10px;
}

.pagination {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pagination li {
	display: inline-block;

	a {
		padding: 15px;
		display: block;
		text-decoration: none;
		border: 1px solid silver;
		
		&:hover, &:focus {
			background: rgba(0,0,0,0.1);
		}
	}
	&.current a {
		background: rgba(0,0,0,0.2);
	}
}
