// scaffolding

html {
	font-size: 62.5%;
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background: #f1f1f1;
	font-family: 'Source Sans Pro', sans-serif;
	color: #444;
	font-size: 1.3rem;
	padding: 0;
	margin: 0;
	height: 100%;
}

a {
	transition: all 0.1s ease-in-out 0s;
	color: $link-color;
	text-decoration: underline;

	&:hover {
		color: $link-color-hover;
		text-decoration: none;
	}
}

p {
	margin: 10px;
	color: #555;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
