// tables

.table {
	border: 1px solid silver;
	width: 100%;
	border-collapse: collapse;
}

.table td, .table th {
	padding: 10px 5px;
	border: 1px solid silver;
}

.table thead {
	border-bottom: 2px solid silver;
}

.table tbody {
	tr {
		&:hover {
			background: rgba(0,0,0,0.1);
		}
	}
}
