/*!
 * dasher | login
 * Copyright 2016 Mikołaj Pich <m.pich@outlook.com>
 */

@import	'variables';
@import 'reset';

@import 'typography';
@import 'container';
@import 'scaffolding';
@import 'alerts';
@import 'form';

.fa {
	margin: 10px 0 10x 10px;
	border: 2px solid #fff;
	padding: 10px;
	width: 40px;
	box-sizing: border-box;
	text-align: center;
}